$primary-white: #ffffff;
$primary-black: #2f2f2f;
$primary-blue: #407bff;

$secondary-white: #ecf2ff;
$secondary-red: #ef5050;
$secondary-lightblue: #9ebbff;
$secondary-yellow: #ff9d43;
$secondary-powderblue: #d7e3ff;
